.header{
    height: 100vh;
    height: 100dvh;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    background: url(../assets/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    color:$color-white;

    @include media('<=phone') {
        background-position: 54%;
    }
}
.header__navSocials{
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    margin-top: 5.6rem;
    width: 90%;
    margin-inline: auto;
}
.navigation__list-text{
    width: 24.2rem;
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.4rem; 
}


.navigation__list-icon{
    width: 13rem;
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
    align-items: center;
}

.navigation_social-icon{
    width: 3.6rem;
    height: 3.6rem;
    position: relative;
    border: 1px solid red;
    background-color: blue;
    &-image{
        @extend %cover;
        object-fit: cover; 
    }

}

.header__description-wrapper{
    border: 1px solid yellow;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__description-content{
    border: 1px solid red;
    height: 50rem;
    display: flex;
    flex-direction: column;
}

.velvet-clouds{
    display: flex;
    flex-direction: column;
    width: 21.7rem;
    border: 1px solid green;;
}
.velvet-clouds-box{
    border: 1px solid red;
    display: inline-flex;
    width: 19.8rem;
    padding: 1px 2.4rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.3rem;
    background: $color-white;
    box-shadow: 0px  1rem 0px rgba(0, 0, 0, 0.25);


    &.one{

    }
    &.two{
    transform: rotate(-4deg);
    margin-top: -1.3rem;
    margin-left: 2rem;
    }
}
.velvet-clouds-text{
    color: $color-tundora;
    font-size: 3.8rem;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase; 
}

.header__title{
    font-family: "DM Sans";
    color:$color-white;
    text-transform: uppercase;
}

.header__nightDrive{
    font-weight:500 ;
    font-size: 5.3rem;

}

.header__ukTour{
    font-size: 16rem;
    border: 1px solid;
    border:1px solid red;
}

.header__address{
    width: 44.6rem;
    font-size: 2.8rem;
    font-weight: 700;
    border:1px solid black;
}