.header{
    height: 100vh;
    height: 100dvh;
   
    display: flex;
    flex-direction: column;
    background: url(../assets/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    color:$color-white;
    position: relative;
    overflow-x: hidden;
    @include media('<=phone') {
        background-position: 54%;
    }
}
.header__navSocials{
  
    display: flex;
    justify-content: space-between;
    margin-top: 5.6rem;
    width: 90%;
    margin-inline: auto;
}
.navigation__list-text{
    width: 24.2rem;
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.4rem; 
}


.navigation__list-icon{
    width: 13rem;
    display: flex;
   
    justify-content: space-between;
    align-items: center;
}

.navigation_social-icon{
    width: 3.6rem;
    height: 3.6rem;
    position: relative;
 
    &-image{
        @extend %cover;
        object-fit: cover; 
    }

}

.header__description-wrapper{
   
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__description-content{
  
    display: flex;
    flex-direction: column;
    position: relative;
}

.velvet-clouds{
    display: flex;
    flex-direction: column;
    width: 21.7rem;
    

    @include media('>phone') {
        position: absolute;
        left: -13rem;
        top: -9em;
    }
   
}
.velvet-clouds-box{
   
    display: inline-flex;
    width: 19.8rem;
    padding: 1px 2.4rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.3rem;
    background: $color-white;
    box-shadow: 0px  1rem 0px rgba(0, 0, 0, 0.25);


    &.one{

    }
    &.two{
    transform: rotate(-4deg);
    margin-top: -1.3rem;
    margin-left: 2rem;
    }
}
.velvet-clouds-text{
    color: $color-tundora;
    font-size: 3.8rem;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase; 
}

.header__title{
    font-family: "DM Sans";
    color:$color-white;
    text-transform: uppercase;
}

.header__nightDrive{
    font-weight:500 ;
    font-size: 5.3rem;

}

.header__ukTour{
    font-size: 16rem;
    
}

.header__address{
    width: 44.6rem;
    font-size: 2.8rem;
    font-weight: 700;
  
}
.header__btn{
   
    display: flex;
    margin-top: 7rem;

    @include media('<=phone') {
      flex-direction: column;
    }
}
.btn{
    display: flex;
    height: 4.4rem;
    padding: 1rem 4.8rem;
    justify-content: center;
    align-items: center; 
    border-radius: 0.6rem;
    background: $color-white; 
    color: $color-mine-shaft;
    // margin-right:1.9rem;
    margin-top: 3.8rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family:" DM Sans";
    font-style: normal;
    font-weight: 700; 
   

    @include media('>phone') {
        margin-right:1.9rem;
    }

    @include media('<=phone') {
        padding: 4rem 4.8rem;
    }
}
 .btn:hover {
    background-color:$color-spring-green;
}



.header__images-arrow{
    width: 2.1rem;
    height: 5.4rem;
    position: absolute;
   
    bottom:0;
    transform: translateX(-50%);
    left: 50%;
    &-image{
        @extend %cover;
        object-fit: cover; 
    }

    // @include media('<=phone') {
    //     width: 4rem;
    //     height: 10rem;
    // }
}


.header__images-linesTop{
 
    width: 100%;
    height: 16.7rem;
   
    position: absolute;
    top:0;
    left: 20%;
   
    &-image{
        @extend %cover;
        object-fit: cover; 
    }

    @include media('<=phone') {
        left: 0%;
    }
}

.header__images-linesBottom{
    width: 100%;
    height: 30.7rem;
  
    position: absolute;
    bottom:-10rem;
    right: 22%;
    &-image{
        @extend %cover;
        object-fit: cover; 
    }

    @include media('<=phone') {
        right: 0;
    }
}