<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="container">
      <header class="header">       
        <nav class="header__navSocials">
                <ul class="navigation__list-text">
                  <li class="navigation__list-item"><a href="#"  class="navigation__list-link">info</a></li>
                  <li class="navigation__list-item"><a href="#"  class="navigation__list-link">schedule</a></li>
                  <li class="navigation__list-item"><a href="#"  class="navigation__list-link">contact</a></li>
                
                </ul>
                <ul class="navigation__list-icon" role="list" aria-label="social-links">
                  <li class="navigation__list-item">
                      <a aria-label="twitter" href="#"  class="navigation__list-link">
                          <figure class="navigation_social-icon">
                            <img src='<%= require("./assets/insta.svg") %>' class="navigation_social-icon-image"/>
                          </figure>
                      </a>
                  </li>
                  <li class="navigation__list-item">
                    <a aria-label="twitter" href="#"  class="navigation__list-link">
                        <figure class="navigation_social-icon">
                          <img src='<%= require("./assets/twitter.svg") %>' class="navigation_social-icon-image"/>
                        </figure>
                    </a>
                  </li>
                  <li class="navigation__list-item">
                    <a aria-label="twitter" href="#"  class="navigation__list-link">
                        <figure class="navigation_social-icon">
                          <img src='<%= require("./assets/spotify.svg") %>' class="navigation_social-icon-image"/>
                        </figure>
                    </a>
                  </li>
                
                </ul>
            </nav>

            <div class="header__description-wrapper">
                  <div class="header__description-content">
                      <div class="velvet-clouds">
                            <div class="velvet-clouds-box one">
                                <h4 class="velvet-clouds-text">velvet</h4>
                            </div>
                            <div class="velvet-clouds-box two">
                                <h4 class="velvet-clouds-text">clouds</h4>
                            </div>
                      </div>
                      <div class="header__title">
                          <h1 class="header__nightDrive">Night drive</h1>
                          <h1 class="header__ukTour">UK Tour</h1>
                          <h1 class="header__address">04 May - 17  May<br> london, Glasgow,<br> Birmingham & Manchester</h1>
                          
                      </div>
                      <div class="header__btn">
                            <button class="btn">
                                Tickets
                            </button>
                            <button class="btn">
                                More Info
                          </button>
                      </div>
                  </div>
            </div>
            <div class="header__images">
              <figure class="header__images-arrow">
                <img src='<%= require("./assets/arrow-1.svg") %>' class="header__images-arrow-image"/>
              </figure>

              <figure class="header__images-linesTop">
                <img src='<%= require("./assets/Lines-1.svg") %>' class="header__images-linesTop-image"/>
              </figure>

              <figure class="header__images-linesBottom">
                <img src='<%= require("./assets/lines-2.svg") %>' class="header__images-linesBottom-image"/>
              </figure>
            </div>
      </header>
      
    </div>
  </body>
</html>