*,
*:after,
*:before{
  box-sizing: border-box;
}

$breakpoints: (
  'phone': 768px,
  'tablet': 1024px,
  'desktop': 1920px,
) !default;

@import '../../../node_modules/include-media/dist/include-media';

html {
 
   font-size: calc(100vw / 1920 * 10);
   line-height: 1;
   overflow: hidden;
  position: fixed;


  @include media('<phone') {
    font-size: calc(100vw / 750 * 10);
    background-color: green;
  }
}

body{
    color : red;
  
}


a{
  text-decoration: none;
  outline: none;
  color: inherit;
}
button{
  background: none;
  outline: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

